<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-700 text-white" >
    <div>
        <form action="">
            <input type="text" class="bg-zinc-800 p-5 mt-10 ml-10 outline-none rounded-lg text-blue-500" placeholder="Enter your name here.. ">
        </form>
    </div>
</body>
</html>